
.header{
    width: 100%;
    margin: 0;
    box-shadow: 0px 2px 3px 0px #05ccc5;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s;
}
.header_w{
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100px;
}
.header_logo{
    margin-top: 10px;
    width: 90px;
    height: 80px;
    background:url(../img/logo.png) no-repeat center;
    background-size: contain;
    float: left;
}
.header_logo > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.search_box{
    margin: 0 auto;
    width:450px;
    height: 40px;
    border-radius: 50px;
    background-color: #ececec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 0px;
    outline: none;
    padding: 0 40px 0 24px;
}
.search_icon{
    background: url(../img/search_icon.png) no-repeat center / cover;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 18px;
    top: 11px;
}
.user_box{
    display: flex;
    height: 50px;
    float: right;
    transform: translateY(25px);
}
.user_box > li:first-child {
    margin-right: 15px;
}
.user_icon_a{
    display: block;
    height: 100%;
    float: left;
    text-decoration: none;
    color: #444444;
}
.user_icon_img1{
    background: url(../img/user_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:30px;
    height:30px;
    margin-left: 10px;
}
.user_icon_img2{
    background: url(../img/user_logout.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:30px;
    height:30px;
    margin-left: 10px;
}
.user_icon_img3{
    background: url(../img/user_join.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:30px;
    height:30px;
    margin-left: 20px;
}
.user_icon_img4{
    background: url(../img/user_my.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:30px;
    height:30px;
    margin-left: 10px;
}

/* .user_box > li:nth-child(2n) {
    display: none;
} */

@media screen and (max-width: 1200px){
    .header_w {
        width: 100%;
    }
    .user_box {
        transform: translate(-10px,25px);
    }
}
@media screen and (max-width: 750px) {
    .search_box {
        width: 270px;
    }
}
@media screen and (max-width: 550px) {
    .search_box {
        width: 190px;
    }
}
@media screen and (max-width: 470px) {
    .search_box {
        width: 170px;
        height: 30px;
        top: 50%;
        left: auto;
        right: 10px;
        transform: translate(0, 20%);
    }
    .search {
        padding: 0px 32px 0px 14px;
    }
    .search_icon {
        width: 16px;
        height: 16px;
        right: 10px;
        top: 7px;
    }
    .user_box {
        height: auto;
        transform: translate(-10px,20px);
    }
    .user_icon_img {
        display: none;
    }

}