#wrap {
    position: relative;
}
.container {
    padding-top: 100px;
}
.main_banner {
    width: 100%;
    height: 300px;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.main_banner_black1 {
    width: 25%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 99;
    pointer-events: none;
}
.main_banner_black2 {
    width: 25%;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 99;
    pointer-events: none;
}
.swiper-slide > img {
    width: 300px;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev:root {
    --swiper-theme-color: #fff !important;
    z-index: 100 !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next:root {
    --swiper-theme-color: #fff !important;
    z-index: 100 !important;
}
.item_info {
    width: 1200px;
    margin: 0 auto;
}
.item_info > h1 {
    font-weight: 900;
    font-size: 24px;
    margin: 30px 0 10px;
}
.item_info > ul {
    width: 100%;
    height: 320px;
    display: flex;
    gap: 20px;
    
}
.item_info > ul > li {
    width: calc((100% - 40px) / 3);
    border: 1px #ddd solid;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}
.item_info_open_time {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.item_info_open_time > h1 {
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 80px;
}
.item_info_open_time > h2 {
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 51px;
}
.open_time_minus {
    width: 16px;
    height: 16px;
    line-height: 7px;
    border: 1px #ddd solid;
    border-radius: 50%;
    font-size: 29px;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 4px;
    right: 15px;
    margin-top: 10px;
}
.open_time {
    margin-top: 40px;
}
.today_open_time {
    width: 100%;
    display: flex;
    margin: 14px 25px;
    display: flex;
    gap: 20px;
    color: #666;
}
.today_open_time>p:nth-child(3){
    margin-left: 25px;
}
.item_info_inf {
    margin: 29px 20px;
    display: flex;
    font-size: 18px;
    color: #666;
    position: relative;
}
.item_info_inf > span {
    white-space: nowrap;
}
.item_info_inf > p {
    width: calc(100% - 136px);
    margin-left: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.detail_pan {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background: #ddd;
    padding: 5px;
    box-sizing: border-box;
    z-index: 10;
    display: none;
}
.item_info_plus,
.detail_btn {
    width: 16px;
    height: 16px;
    line-height: 14px;
    border: 1px #ddd solid;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 0;
}
.item_info_menu {
    position: relative;
    margin: 27px 20px;
    display: flex;
    font-size: 18px;
    color: #666;
}
.item_info_menu > span {
    width: calc(100% - 75px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item_info_menu > p{
    position: absolute;
    right: 10px;
    line-height: 29px;
}
.item_info_menu_plus {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 13px;
    border: 1px #ddd solid;
    border-radius: 20px;
    font-size: 14px;
    padding: 7px 10px;
    cursor: pointer;
    font-weight: 700;
    color: #666;
}
.item_place {
    height: 100%;
    overflow: hidden;
    font-size: 26px;
    text-align: center;
    line-height: 300px;
}
.reveiw {
    margin-top: 30px;
}
.star_mark_num {
    display: flex;
    align-items: center;
    position: relative;
}
.star_mark_num > h2 {
    font-weight: 900;
    font-size: 24px;
    margin-left: 10px;
}
.star_mark {
    margin-left: 10px;
    font-weight: 700;
    color: #666;
}
.review_write_btn{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width:100px;
    height: 25px;
    margin: 4px 0 0 20px;
    line-height: 21px;
    cursor: pointer;
}
.review_write_btn >span{
    display: inline-block;
    margin: 2px 0 0 10px;
}
.review_write_icon{
    float: right;
    background: url(../img/review_write_icon.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 2px 5px 0 0;
}
.star_heart_icon {
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
}
.star_heart_icon > img {
    width: 20px;
    height: 20px;
    margin: 2px 3px 0 10px;
}
.review_heart_num {
    display: flex;
    border: 1px #ddd solid;
    padding: 0 10px;
    border-radius: 20px;
    box-sizing: border-box;
    background: #fff;
}
.review_heart_num > img {
    width: 25px;
    height: 25px;
}
.item_menu_plus {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.item_menu_list {
    width: 379px;
    height: 600px;
    border: 2px solid;
    background: #f3d1a4;
    padding-bottom: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}
.item_menu_list > img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 70px;
}
.item_info_all_menu {
    margin-top: 90px;
}
.item_info_menu_detail {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
    color: #666;
    font-size: 18px;
    font-weight: 700;
}
.item_info_menu_detail > span {
    width: calc(100% - 85px);
}
.item_menu_list > p {
    width: 16px;
    height: 16px;
    line-height: 7px;
    border: 1px #000 solid;
    border-radius: 50%;
    font-size: 29px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 4px;
    right: 11px;
    margin-top: 10px;
}
.item_menu_list::-webkit-scrollbar {
    width: 5px;
}
.item_menu_list::-webkit-scrollbar-thumb {
    height: 30%;
    background: #fff;
    border-radius: 10px;
}
.item_menu_list::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}
.reveiw_bottom_border {
    width: 100%;
    height: 3px;
    background-color: #ddd;
    margin-top: 10px;
}
.review_content {
    margin-top: 20px;
}
.review_content_txt {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 50px;
    margin-bottom: 100px;
    border: 3px solid #05ccc5;
}
.review_content_txt::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 51px solid transparent;
    border-top-color: #05ccc5;
    border-bottom: 0;
    border-right: 0;
    margin-right: -25.5px;
    margin-bottom: -51px;
}
.review_content_txt::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 45px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    border-right: 0;
    margin-right: -23.0px;
    margin-bottom: -44px;
}
.nick_date {
    display: flex;
    margin: 10px 0 0 30px;
    position: relative;
}
.review_nickname {
    font-size: 24px;
    font-weight: 700;
}
.creation_date {
    font-size: 14px;
    color: #666;
    margin: 15px 0 0 10px;
}
.review_delete_change {
    position: absolute;
    top: 0;
    right: 3%;
    display: flex;
    font-size: 14px;
}
.review_change {
    padding: 0 10px;
    position: relative;
}
.review_delete {
    height: 24px;
    padding: 0 10px;
}
.review_change:first-child::after {
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    top: 4px;
    right: -1px;
    background: #ddd;
}
.review_star {
    margin:5px 30px;
}
.review_star>img {
    width: 20px;
    height: 20px;
}
.review_num1 {
    word-break: break-all;
    margin: 0 30px;
}
.review_create {
    width: calc(100% - 40px);  
    box-sizing: border-box;
}
.review_create_img {
    margin: 20px 0;
}
.review_create_img>img {
    width: 100px;
    height: 100px;
}
.review_content_none {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 50px;
    margin-bottom: 100px;
    border: 3px solid #05ccc5;

}
.review_content_none::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 51px solid transparent;
    border-top-color: #05ccc5;
    border-bottom: 0;
    border-right: 0;
    margin-right: -25.5px;
    margin-bottom: -51px;
}
.review_content_none::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 45px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    border-right: 0;
    margin-right: -23.0px;
    margin-bottom: -44px;
}
.review_none {
    display: flex;
    flex-direction: column;
}
.review_none>h3 {
    margin: 10px auto;
    font-size: 30px;
}
.review_icon {
    background: url(../img/review_icon.gif);
    height: 200px;
    width: 170px;
    background-size: cover;
    margin: 0 auto;
}
.star {
    position: relative;
    font-size: 32px;
    color: #ddd;
}
.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
}
.star span {
    width: 0;
    position: absolute;
    left: 0;
    color: orange;
    overflow: hidden;
    pointer-events: none;
}
.review_user_star {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid;
}
.review_user_write {
    display: inline-block;
    width: 95%;
    height: 100px;
    padding: 10px 10px;
    margin: 0 30px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    resize: none;
    outline: none;
}
.review_score {
    direction: rtl;
    text-align: left;
    padding: 10px 30px;
}
.review_score>input[type=radio] {
    display: none;
}
.review_score>label {
    font-size: 1.5em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.review_score>label:hover {
    text-shadow: 0 0 0 #05ccc5;
}
.review_score>label:hover~label {
    text-shadow: 0 0 0 #05ccc5;
}
.review_score>label:checked~label {
    text-shadow: 0 0 0 #05ccc5;
}
input[type=radio]:checked~label {
    text-shadow: 0 0 0 #05ccc5;
}
.review_user_img {
    margin: 15px 30px;
}

input[type=file]::file-selector-button {
    width: 30%;
    background: #fff;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
#file1::file-selector-button:hover {
    background: #05ccc5;
    color: #fff;
}
.sub_but {
    padding: 15px 30px;
}
.sub_but>input[type=submit],
.sub_but>input[type=button] {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px 30px;
    cursor: pointer;
}
#submit1:hover {
    background: #05ccc5;
    color: #fff;
}
#button1:hover {
    background: #05ccc5;
    color: #fff;
}
.display_none {
    display: none;
}
.display_block {
    display: block;
}
@media screen and (max-width: 1200px) {
    .item_info {width: 100%;}
    .item_info > ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 450px;
    }
    .item_info > ul > li {width: 50%;}
    .item_info > ul > li:nth-last-child(1) {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 875px;
        left: 0;
    }
    iframe {width: 100%; height: 100%;}
    .item_info_open_time > h1 {left: 155px;}
    .today_open_time {
        margin: 14px 0px 14px 100px;
        gap: 10px;
    }
    .item_info_open_time > h2 {right: 100px;}
    .today_open_time>p:nth-child(3) {
        position: absolute;
        right: 100px;
    }
}
@media screen and (max-width: 980px) {
    .item_info_open_time > h1 {left: 20px;}
    .today_open_time {
        margin: 14px 0px 14px 20px;
        gap: 20px;
    }
    .item_info_open_time > h2 {right: 50px;}
    .today_open_time>p:nth-child(3) {
        position: absolute;
        right: 50px;
    }
    .review_create {
        width: calc(100% - 15px);
        box-sizing: border-box;
    }
}
@media screen and (max-width: 774px) {
    .item_info > ul {
        display: block;
        margin-bottom: 800px;
    }
    .item_info > ul > li {
        width: 100%;
        height: 330px;
        margin-bottom: 20px;
    }
    .item_info > ul > li:nth-last-child(1) {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 1230px;
        left: 0;
    }
    .item_info_open_time > h1 {left: 205px;}
    .today_open_time {
        margin: 14px 0px 17px 141px;
        gap: 10px;
    }
    .item_info_open_time > h2 {right: 165px;}
    .today_open_time>p:nth-child(3) {right: 165px;}
    .item_menu_list {
        width: 300px;
        height: 521px;
    }
    .main_banner_black1 {background: none;}
    .main_banner_black2 {background: none;}
    .review_content_txt {margin-bottom: 58px;}
    .review_user_write {
        width: 90%;
    }
}
@media screen and (max-width: 588px) {
    .item_info > ul {
        display: block;
        margin-bottom: 630px;
    }
    .item_info > ul > li {
        width: 100%;
        height: 250px;
    }
    .item_info > ul > li:nth-last-child(1) {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 1070px;
        left: 0;
    }
    .item_info_inf {margin: 18px 20px;}
    .item_info_menu {margin: 13px 20px;}
    .item_info_open_time > h1 {left: 90px;}
    .item_info_open_time > h2 {right: 70px;}
    .today_open_time {margin: 6px 0 0 40px;}
    .today_open_time>p:nth-child(3) {right: 70px;}
    .item_info_menu_plus {bottom: 10px;}
    .main_banner {height: 180px;}
    .main_banner_black1 {width: calc(100% / 3);}
    .main_banner_black2 {width: calc(100% / 3);}
    .item_info > ul > li:nth-last-child(1) {top: 930px;}
    .item_info > h1 {margin: 10px 0 10px;}
    .star_mark_num > h2 {font-size: 22px;}
    .star_mark {
        margin-left: 5px;
        font-size: 14px;
    }
    .review_write_btn {
        width: 99px;
        height: 23px;
        margin: 4px 0 0 3px;
        line-height: 19px;
    }
    .review_write_btn >span {margin: 2px 0 0 10px;}
    .review_heart_num {padding: 0 8px;}
    .star_heart_icon > img {
        width: 17px;
        height: 17px;
        margin: 4px 3px 0 4px;
    }
    .review_heart_num > p {margin-top: 1px;}
    .review_content_txt::after {right: 18%;}
    .review_content_txt::before {right: 18%;}
    .review_content_txt::before {right: 18%;}
    .review_content_none::after {right: 18%;}
    .review_content_none::before {right: 18%;}
}
@media screen and (max-width:388px) {
    .item_info_inf > p {
        margin-left: 35px;
        font-size: 14px;
    }
    .item_info_inf {margin: 18px 10px;}
    .item_info_inf > p {
        width: calc(100% - 86px);
        margin-left: 10px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -1.5px;
    }
    .item_info_inf {font-size: 15px;}
    .item_info_plus, .detail_btn {
        top: 2px;
    }
    .item_info > ul > li {height: 210px;}
    .item_info_open_time > h1 {
        left: 10px;
        font-size: 14px;
    }
    .today_open_time {
        margin: 4px 0 0 10px;
        font-size: 14px;
    }
    .open_time_minus {
        border: 1px #ddd solid;
        top: -32px;
        right: 2px;
        background: #fff;
    }
    .item_info_open_time > h2 {right: 15px;}
    .today_open_time>p:nth-child(3) {right: 20px;}
    .item_info_menu {
        font-size: 14px;
        margin: 11px 20px;
    }
    .item_menu_list {
        width: 250px;
        height: 450px;
    }
    .item_info > ul > li:nth-last-child(1) {top: 845px;}
    .item_info > ul {margin-bottom: 540px;}
    .review_nickname {font-size: 20px;}
    .creation_date {
        font-size: 13px;
        margin: 10px 0 0 10px;
    }
    .review_delete_change {
        top: -20px;
        right: 10%;
    }
    .review_star {margin: 0px 30px;}
    .review_create {
        width: calc(100% - 10px);
        font-size: 14px;
    }
    .review_create_img {margin: 5px 0;}
    .review_create_img>img {
        width: 70px;
        height: 70px;
    }
    .review_content_txt::before {right: 25%;}
    .review_content_txt::after {right: 25%;}
    .review_none>h3 {
        margin: 15px auto 0;
        font-size: 23px;
    }
    .review_content {margin-top: 20px;}
    .review_content_none::after {right: 25%;}
    .review_content_none::before {right: 25%;}
    .star_mark_num > h2 {
        font-size: 20px;
        margin-left: 10px;
    }
    .star_mark {
        margin-left: 5px;
    }
    .creation_date {
        font-size: 11px;
        margin: 8px 0 0 10px;
    }
    .review_write_btn {
        width: 86px;
        height: 23px;
        margin: 6px 0 0 6px;
        line-height: 19px;
    }
    .review_write_btn >span {
        margin: 0 0 0 10px;
        font-size: 12px;
        font-weight: 600;
    }
    .review_delete_change {
        top: -13px;
        right: 8%;
        font-size: 12px;
    }
    .review_write_icon {
        width: 20px;
        height: 20px;
        margin: 2px 5px 0 0;
    }
    .star_heart_icon {
        top: 33px;
        left: 10px;
    }
    .review_heart_num {padding: 0 6px;}
    .review_heart_num > img {
        width: 20px;
        height: 20px;
    }
    .review_heart_num > p {font-size: 12px;}
    .star_heart_icon > img {
        width: 15px;
        height: 15px;
        margin: 3px 3px 0 5px;
    }
    .star_heart_icon > p {font-size: 12px;}
    .reveiw_bottom_border {margin-top: 35px;}
    .star_heart_icon > p {margin-top: 2px;}
    .review_score {padding: 10px 10px;}
    .review_user_img {margin: 0px 10px;}
    .sub_but {padding: 10px 10px;}
    .review_user_write {margin: 0 10px;}
}
@media screen and (max-width:326px) {
    .item_info_inf > p {
        margin-left: 10px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.5px;
    }
    .item_info_plus,
    .detail_btn {
        width: 14px;
        height: 14px;
        line-height: 13px;
    }
    .item_info > h1 {font-size: 18px;}
    .main_banner {height: 130px;}
    .item_info > ul > li:nth-last-child(1) {top: 785px;}
    .review_content_txt {
        border-radius: 30px;
    }
    .review_nickname {font-size: 16px;}
    .creation_date {
        font-size: 11px;
        margin: 8px 0 0 10px;
    }
    .review_delete_change {
        top: -13px;
        right: 8%;
        font-size: 12px;
    }
    .nick_date {margin: 10px 0 0 10px;}
    .review_star {margin: 0 10px;}
    .review_num1 {margin: 0 10px;}
    .item_menu_list {
        width: 200px;
        height: 350px;
    }
    .item_menu_list > img {
        width: 40px;
        height: 40px;
    }
    .item_menu_list > p {
        width: 12px;
        height: 12px;
        line-height: 3.9px;
    }
    .item_info_all_menu {margin-top: 65px;}
    .item_info_menu_detail {
        margin-top: 17px;
        font-size: 14px;
    }
}